.aceite{
    background-color: rgba(210, 245, 210, 0.692);
}
.pendente{
    background-color: rgba(180, 180, 180, 0.692);
}
.cancelado{
    background-color: rgba(255, 101, 101, 0.692);
}

.my-image{
    cursor: pointer;
}