<app-navbars ></app-navbars>
<div [style]="{'margin': '10rem' }"></div>

<p-carousel [value]="infos" [numVisible]="4" [numScroll]="4" [showIndicators]="false">
    <ng-template let-x pTemplate="item">
        <div>
            <p-card header="{{x.tipo}} - {{x.id}}" [style]="{'width': '25rem'}" >
                <ng-template pTemplate="header">
                <div [ngClass]="{'img-pendente': x.estado === 'Pendente'}">
                    <img class="my-image" *ngIf="x.tipo == 'Encomenda'" alt="Card" src="../../assets/img/about-2.jpg">
                    <img *ngIf="x.tipo == 'Reserva'" alt="Card" src="../../assets/img/about.jpg">
                </div>
                </ng-template>
                <p class="mouseHover"> <b>Data/Hora:</b>  {{x.data}} / {{x.hora}}:00 </p> 
                <p class="mouseHover"> <b>Restaurante:</b>  {{x.restaurante_morada}} - {{x.restaurante_localidade}} </p> 
                <p class="mouseHover" [ngClass]="{'aceite': x.estado === 'Aceite','pendente': x.estado == 'Pendente'}"> <b>Estado:</b>  {{x.estado}} 
                    <i [ngClass]="{'pi pi-clock': x.estado === 'Pendente'}"></i> 
                    <i [ngClass]="{'pi pi-check': x.estado === 'Aceite'}"></i>
                    <i [ngClass]="{'pi pi-ban': x.estado === 'Cancelado'}"></i>
                </p>  
                <p *ngIf="x.tipo == 'Encomenda'" class="mouseHover"> <b>Valor:</b> {{x.valorTotal}} €</p>
                <p *ngIf="x.tipo == 'Reserva'" class="mouseHover"> <b>Pessoas:</b> {{x.pessoas}} <i class="pi pi-users"></i></p>
                <div class="mouseHover" style="display: flex; justify-content: center;">
                    <button  [ngClass]="{'p-button-danger': x.estado === 'Aceite'}" [disabled]="(x.estado === 'Aceite')" pButton pRipple type="button" label="Ver" class="p-button-raised" [style]="{'min-width': '100%'}"  ></button>
                </div>
            </p-card>
        </div>
    </ng-template>
</p-carousel>


