<app-navbars ></app-navbars>
<div [style]="{'margin': '10rem' }"></div>
<p-toast></p-toast>
<p-carousel [value]="infos" [numVisible]="3" [numScroll]="3" [showIndicators]="false">
    <ng-template let-x pTemplate="item">
        <div>
            <p-card header="{{x.tipo}} - {{x.id}}" [style]="{'width': '25rem'}" >
                <ng-template pTemplate="header">
                <div [ngClass]="{'img-pendente': x.estado === 'Pendente'}">
                    <img class="my-image" *ngIf="x.tipo == 'Encomenda'" alt="Card" src="../../assets/img/about-2.jpg">
                    <img *ngIf="x.tipo == 'Reserva'" alt="Card" src="../../assets/img/about.jpg">
                </div>
                </ng-template>
                <p class="mouseHover"> <b>Data/Hora:</b>  {{x.data}} / {{x.hora}}:00 </p> 
                <p class="mouseHover"> <b>Restaurante:</b>  {{x.restaurante_morada}} - {{x.restaurante_localidade}} </p> 
                <p class="mouseHover" [ngClass]="{'aceite': x.estado === 'Aceite' || x.estado ==='Entregue','pendente': x.estado == 'Pendente','cancelado': x.estado == 'Cancelada'}"> <b>Estado:</b>  {{x.estado}} 
                    <i [ngClass]="{'pi pi-clock': x.estado === 'Pendente'}"></i> 
                    <i [ngClass]="{'pi pi-check': x.estado === 'Aceite' || x.estado === 'Entregue'}"></i>
                    <i [ngClass]="{'pi pi-ban': x.estado === 'Cancelada'}"></i>
                </p>  
                <p *ngIf="x.tipo == 'Encomenda'" class="mouseHover"> <b>Valor:</b> {{x.valorTotal}} €</p>
                <p *ngIf="x.tipo == 'Reserva'" class="mouseHover"> <b>Pessoas:</b> {{x.pessoas}} <i class="pi pi-users"></i></p>
            </p-card>
        </div>
    </ng-template>
</p-carousel>


