/****** Object:  Database [db_m16]    Script Date: 23/06/2023 09:22:30 ******/
CREATE DATABASE [db_m16]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[tbl_doacao]    Script Date: 23/06/2023 09:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_doacao](
	[id_doacao] [int] IDENTITY(1,1) NOT NULL,
	[nome_doacao] [varchar](20) NULL,
	[doacao_desc] [varchar](255) NULL,
	[valorTotala] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_doacao] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_encomendas]    Script Date: 23/06/2023 09:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_encomendas](
	[encomenda_id] [int] IDENTITY(1,1) NOT NULL,
	[restaurante_id] [int] NULL,
	[utilizador_id] [int] NULL,
	[encomenda_data] [date] NULL,
	[encomenda_hora] [int] NULL,
	[encomenda_valor] [numeric](10, 2) NULL,
	[estado_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[encomenda_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_estadoEncomendas]    Script Date: 23/06/2023 09:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_estadoEncomendas](
	[estado_id] [int] IDENTITY(1,1) NOT NULL,
	[estado_nome] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[estado_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_menus]    Script Date: 23/06/2023 09:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_menus](
	[menu_id] [int] IDENTITY(1,1) NOT NULL,
	[menu_nome] [varchar](70) NULL,
	[menu_preco] [numeric](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_mesas]    Script Date: 23/06/2023 09:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_mesas](
	[mesa_id] [int] IDENTITY(1,1) NOT NULL,
	[restaurante_id] [int] NULL,
	[mesa_lugares] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[mesa_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_permissoes]    Script Date: 23/06/2023 09:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_permissoes](
	[perm_id] [int] NOT NULL,
	[perm_nome] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[perm_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_pratos]    Script Date: 23/06/2023 09:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_pratos](
	[prato_id] [int] IDENTITY(1,1) NOT NULL,
	[prato_nome] [varchar](50) NULL,
	[prato_preco] [numeric](10, 2) NULL,
	[pratoTipo_id] [int] NULL,
	[prato_imagem] [varchar](max) NOT NULL,
 CONSTRAINT [PK__tbl_prat__8C40FE1F077B589C] PRIMARY KEY CLUSTERED 
(
	[prato_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_pratosTipos]    Script Date: 23/06/2023 09:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_pratosTipos](
	[pratoTipo_id] [int] IDENTITY(1,1) NOT NULL,
	[pratoTipo_nome] [varchar](50) NULL,
 CONSTRAINT [PK__tbl_prat__75919222D40E4F82] PRIMARY KEY CLUSTERED 
(
	[pratoTipo_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_relaDoa]    Script Date: 23/06/2023 09:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_relaDoa](
	[relaDoa_id] [int] IDENTITY(1,1) NOT NULL,
	[utilizador_id] [int] NULL,
	[id_doacao] [int] NULL,
	[valor] [numeric](10, 2) NULL,
	[mensagem] [varchar](max) NULL,
 CONSTRAINT [PK__tbl_rela__63B35C489E1762A2] PRIMARY KEY CLUSTERED 
(
	[relaDoa_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_relEncomenda]    Script Date: 23/06/2023 09:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_relEncomenda](
	[relEncomenda_id] [int] IDENTITY(1,1) NOT NULL,
	[encomenda_id] [int] NULL,
	[prato_id] [int] NULL,
	[relEncomenda_quantidade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[relEncomenda_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_relMenu]    Script Date: 23/06/2023 09:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_relMenu](
	[relmenu_id] [int] IDENTITY(1,1) NOT NULL,
	[menu_id] [int] NULL,
	[prato_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[relmenu_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_reservaMesas]    Script Date: 23/06/2023 09:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_reservaMesas](
	[reserva_id] [int] NULL,
	[mesa_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_reservas]    Script Date: 23/06/2023 09:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_reservas](
	[reserva_id] [int] IDENTITY(1,1) NOT NULL,
	[restaurante_id] [int] NULL,
	[utilizador_id] [int] NULL,
	[reserva_data] [date] NULL,
	[reserva_hora] [int] NULL,
	[reserva_pessoas] [int] NULL,
	[reservas_estado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[reserva_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_restaurantes]    Script Date: 23/06/2023 09:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_restaurantes](
	[restaurante_id] [int] IDENTITY(1,1) NOT NULL,
	[restaurante_nome] [varchar](100) NULL,
	[restaurante_morada] [varchar](100) NULL,
	[restaurante_localidade] [varchar](100) NULL,
	[longitude] [varchar](80) NULL,
	[latitude] [varchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[restaurante_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_utilizadores]    Script Date: 23/06/2023 09:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_utilizadores](
	[utilizador_id] [int] IDENTITY(1,1) NOT NULL,
	[perm_id] [int] NULL,
	[utilizador_nome] [varchar](50) NULL,
	[utilizador_email] [varchar](80) NULL,
	[utilizador_senha] [varchar](max) NULL,
	[utilizador_numero] [varchar](20) NULL,
	[utilizador_morada] [varchar](100) NULL,
 CONSTRAINT [PK__tbl_util__1C76B0751FCFEBF7] PRIMARY KEY CLUSTERED 
(
	[utilizador_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_doacao] ON 

INSERT [dbo].[tbl_doacao] ([id_doacao], [nome_doacao], [doacao_desc], [valorTotala]) VALUES (1, N'comida para crianças', N'blabla', NULL)
SET IDENTITY_INSERT [dbo].[tbl_doacao] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_encomendas] ON 

INSERT [dbo].[tbl_encomendas] ([encomenda_id], [restaurante_id], [utilizador_id], [encomenda_data], [encomenda_hora], [encomenda_valor], [estado_id]) VALUES (32, 1, 6, CAST(N'2023-06-03' AS Date), 2, CAST(13.50 AS Numeric(10, 2)), 5)
INSERT [dbo].[tbl_encomendas] ([encomenda_id], [restaurante_id], [utilizador_id], [encomenda_data], [encomenda_hora], [encomenda_valor], [estado_id]) VALUES (33, 1, 6, CAST(N'2023-06-03' AS Date), 2, CAST(20.25 AS Numeric(10, 2)), 5)
INSERT [dbo].[tbl_encomendas] ([encomenda_id], [restaurante_id], [utilizador_id], [encomenda_data], [encomenda_hora], [encomenda_valor], [estado_id]) VALUES (34, 1, 6, CAST(N'2023-06-03' AS Date), 2, CAST(27.00 AS Numeric(10, 2)), 6)
SET IDENTITY_INSERT [dbo].[tbl_encomendas] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_estadoEncomendas] ON 

INSERT [dbo].[tbl_estadoEncomendas] ([estado_id], [estado_nome]) VALUES (1, N'Pendente')
INSERT [dbo].[tbl_estadoEncomendas] ([estado_id], [estado_nome]) VALUES (2, N'Aceite')
INSERT [dbo].[tbl_estadoEncomendas] ([estado_id], [estado_nome]) VALUES (3, N'Preparar')
SET IDENTITY_INSERT [dbo].[tbl_estadoEncomendas] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_menus] ON 

INSERT [dbo].[tbl_menus] ([menu_id], [menu_nome], [menu_preco]) VALUES (30, N'Prato Completo do Dia', CAST(10.99 AS Numeric(10, 2)))
INSERT [dbo].[tbl_menus] ([menu_id], [menu_nome], [menu_preco]) VALUES (31, N'Gelados & Bolos', CAST(5.25 AS Numeric(10, 2)))
INSERT [dbo].[tbl_menus] ([menu_id], [menu_nome], [menu_preco]) VALUES (32, N'Saladas & Sumo', CAST(6.25 AS Numeric(10, 2)))
SET IDENTITY_INSERT [dbo].[tbl_menus] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_mesas] ON 

INSERT [dbo].[tbl_mesas] ([mesa_id], [restaurante_id], [mesa_lugares]) VALUES (6, 1, 2)
INSERT [dbo].[tbl_mesas] ([mesa_id], [restaurante_id], [mesa_lugares]) VALUES (7, 1, 2)
INSERT [dbo].[tbl_mesas] ([mesa_id], [restaurante_id], [mesa_lugares]) VALUES (8, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[tbl_mesas] OFF
GO
INSERT [dbo].[tbl_permissoes] ([perm_id], [perm_nome]) VALUES (1, N'Cliente')
INSERT [dbo].[tbl_permissoes] ([perm_id], [perm_nome]) VALUES (2, N'Funcionario')
INSERT [dbo].[tbl_permissoes] ([perm_id], [perm_nome]) VALUES (3, N'Admin')
GO
SET IDENTITY_INSERT [dbo].[tbl_pratos] ON 

SET IDENTITY_INSERT [dbo].[tbl_pratos] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_pratosTipos] ON 

INSERT [dbo].[tbl_pratosTipos] ([pratoTipo_id], [pratoTipo_nome]) VALUES (1, N'Saladas')
INSERT [dbo].[tbl_pratosTipos] ([pratoTipo_id], [pratoTipo_nome]) VALUES (2, N'Carnes')
INSERT [dbo].[tbl_pratosTipos] ([pratoTipo_id], [pratoTipo_nome]) VALUES (3, N'Peixes')
SET IDENTITY_INSERT [dbo].[tbl_pratosTipos] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_relaDoa] ON 

INSERT [dbo].[tbl_relaDoa] ([relaDoa_id], [utilizador_id], [id_doacao], [valor], [mensagem]) VALUES (23, 6, 1, CAST(1.00 AS Numeric(10, 2)), N'

Miguel Almeida  obrigada imensamente pela tua generosidade e doação para a Unicef. Seu gesto de bondade dará uma grande a')
INSERT [dbo].[tbl_relaDoa] ([relaDoa_id], [utilizador_id], [id_doacao], [valor], [mensagem]) VALUES (24, 6, 1, CAST(1.00 AS Numeric(10, 2)), N'

Obrigado Miguel Almeida por fazer a generosa doação de 1€ para a Unicef. Você trouxe a possibilidade de dias melhores para todas as')
INSERT [dbo].[tbl_relaDoa] ([relaDoa_id], [utilizador_id], [id_doacao], [valor], [mensagem]) VALUES (25, 6, 1, CAST(1.00 AS Numeric(10, 2)), N'

Muito obrigada Miguel Almeida pela sua generosa doação de 1€ para Unicef! Tua benevolência é admirada e significativa neste momento difícil. Obrigada.')
SET IDENTITY_INSERT [dbo].[tbl_relaDoa] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_relEncomenda] ON 

INSERT [dbo].[tbl_relEncomenda] ([relEncomenda_id], [encomenda_id], [prato_id], [relEncomenda_quantidade]) VALUES (84, 32, 119, 2)
INSERT [dbo].[tbl_relEncomenda] ([relEncomenda_id], [encomenda_id], [prato_id], [relEncomenda_quantidade]) VALUES (85, 33, 119, 3)
INSERT [dbo].[tbl_relEncomenda] ([relEncomenda_id], [encomenda_id], [prato_id], [relEncomenda_quantidade]) VALUES (86, 34, 119, 4)
SET IDENTITY_INSERT [dbo].[tbl_relEncomenda] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_relMenu] ON 

INSERT [dbo].[tbl_relMenu] ([relmenu_id], [menu_id], [prato_id]) VALUES (94, 30, 135)
INSERT [dbo].[tbl_relMenu] ([relmenu_id], [menu_id], [prato_id]) VALUES (95, 30, 134)
INSERT [dbo].[tbl_relMenu] ([relmenu_id], [menu_id], [prato_id]) VALUES (96, 30, 119)
SET IDENTITY_INSERT [dbo].[tbl_relMenu] OFF
GO
INSERT [dbo].[tbl_reservaMesas] ([reserva_id], [mesa_id]) VALUES (53, 9)
INSERT [dbo].[tbl_reservaMesas] ([reserva_id], [mesa_id]) VALUES (53, 20)
INSERT [dbo].[tbl_reservaMesas] ([reserva_id], [mesa_id]) VALUES (53, 19)
GO
SET IDENTITY_INSERT [dbo].[tbl_reservas] ON 

INSERT [dbo].[tbl_reservas] ([reserva_id], [restaurante_id], [utilizador_id], [reserva_data], [reserva_hora], [reserva_pessoas], [reservas_estado]) VALUES (50, 1, 6, CAST(N'2023-06-02' AS Date), 8, 2, N'Aceite')
INSERT [dbo].[tbl_reservas] ([reserva_id], [restaurante_id], [utilizador_id], [reserva_data], [reserva_hora], [reserva_pessoas], [reservas_estado]) VALUES (51, 1, 6, CAST(N'2023-06-08' AS Date), 8, 2, N'Aceite')
INSERT [dbo].[tbl_reservas] ([reserva_id], [restaurante_id], [utilizador_id], [reserva_data], [reserva_hora], [reserva_pessoas], [reservas_estado]) VALUES (52, 1, 6, CAST(N'2023-06-08' AS Date), 8, 2, N'Aceite')
SET IDENTITY_INSERT [dbo].[tbl_reservas] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_restaurantes] ON 

INSERT [dbo].[tbl_restaurantes] ([restaurante_id], [restaurante_nome], [restaurante_morada], [restaurante_localidade], [longitude], [latitude]) VALUES (1, N'MC-1', N'Av. Dom João II 133', N'Lisboa', N'38.7085963977661', N'-9.153820984758827')
INSERT [dbo].[tbl_restaurantes] ([restaurante_id], [restaurante_nome], [restaurante_morada], [restaurante_localidade], [longitude], [latitude]) VALUES (2, N'MC-4', N'Rua Santa Catarina 456', N'Porto', N'41.153510603855295', N'-8.604649460979212')
INSERT [dbo].[tbl_restaurantes] ([restaurante_id], [restaurante_nome], [restaurante_morada], [restaurante_localidade], [longitude], [latitude]) VALUES (3, N'MC-5', N'R. Cruz das Mestras 51', N'Faro', N'37.019446674318445', N' -7.931894421865654')
SET IDENTITY_INSERT [dbo].[tbl_restaurantes] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_utilizadores] ON 

INSERT [dbo].[tbl_utilizadores] ([utilizador_id], [perm_id], [utilizador_nome], [utilizador_email], [utilizador_senha], [utilizador_numero], [utilizador_morada]) VALUES (6, 3, N'Miguel Almeida', N'xptos324@gmail.com', N'$2b$10$3P2o8VIX48lzDm/hFznEtevjrqJrrgi/2yVuNcIfRqSybcDxBtFp.', N'936274681', N'Estrada dos Alamos, Prédio 21, 3ºC')
INSERT [dbo].[tbl_utilizadores] ([utilizador_id], [perm_id], [utilizador_nome], [utilizador_email], [utilizador_senha], [utilizador_numero], [utilizador_morada]) VALUES (7, 1, N'Fala Medas', N'onertyler1@gmail.com', N'$2b$10$b/hTXTtF2js1UVAuglBDD.I89knCKb4q6Elg32v0AgOwYc7cXkI8e', N'123123123', N'Estrada dos Alamos, Prédio 21, 3ºC')
INSERT [dbo].[tbl_utilizadores] ([utilizador_id], [perm_id], [utilizador_nome], [utilizador_email], [utilizador_senha], [utilizador_numero], [utilizador_morada]) VALUES (9, 2, N'Rodrigo', N'rodri.midas@gmail.com', NULL, N'123123123', N'lisboa 123 123')
SET IDENTITY_INSERT [dbo].[tbl_utilizadores] OFF
GO
ALTER TABLE [dbo].[tbl_encomendas]  WITH CHECK ADD FOREIGN KEY([estado_id])
REFERENCES [dbo].[tbl_estadoEncomendas] ([estado_id])
GO
ALTER TABLE [dbo].[tbl_encomendas]  WITH CHECK ADD FOREIGN KEY([restaurante_id])
REFERENCES [dbo].[tbl_restaurantes] ([restaurante_id])
GO
ALTER TABLE [dbo].[tbl_mesas]  WITH CHECK ADD FOREIGN KEY([restaurante_id])
REFERENCES [dbo].[tbl_restaurantes] ([restaurante_id])
GO
ALTER TABLE [dbo].[tbl_pratos]  WITH CHECK ADD  CONSTRAINT [FK__tbl_prato__prato__7D439ABD] FOREIGN KEY([pratoTipo_id])
REFERENCES [dbo].[tbl_pratosTipos] ([pratoTipo_id])
GO
ALTER TABLE [dbo].[tbl_pratos] CHECK CONSTRAINT [FK__tbl_prato__prato__7D439ABD]
GO
ALTER TABLE [dbo].[tbl_relaDoa]  WITH CHECK ADD  CONSTRAINT [FK__tbl_relaD__id_do__2FCF1A8A] FOREIGN KEY([id_doacao])
REFERENCES [dbo].[tbl_doacao] ([id_doacao])
GO
ALTER TABLE [dbo].[tbl_relaDoa] CHECK CONSTRAINT [FK__tbl_relaD__id_do__2FCF1A8A]
GO
ALTER TABLE [dbo].[tbl_relaDoa]  WITH CHECK ADD  CONSTRAINT [FK__tbl_relaD__utili__2EDAF651] FOREIGN KEY([utilizador_id])
REFERENCES [dbo].[tbl_utilizadores] ([utilizador_id])
GO
ALTER TABLE [dbo].[tbl_relaDoa] CHECK CONSTRAINT [FK__tbl_relaD__utili__2EDAF651]
GO
ALTER TABLE [dbo].[tbl_relEncomenda]  WITH CHECK ADD  CONSTRAINT [FK__tbl_relEn__prato__7E37BEF6] FOREIGN KEY([prato_id])
REFERENCES [dbo].[tbl_pratos] ([prato_id])
GO
ALTER TABLE [dbo].[tbl_relEncomenda] CHECK CONSTRAINT [FK__tbl_relEn__prato__7E37BEF6]
GO
ALTER TABLE [dbo].[tbl_relMenu]  WITH CHECK ADD  CONSTRAINT [FK__tbl_relMe__menu___7F2BE32F] FOREIGN KEY([menu_id])
REFERENCES [dbo].[tbl_menus] ([menu_id])
GO
ALTER TABLE [dbo].[tbl_relMenu] CHECK CONSTRAINT [FK__tbl_relMe__menu___7F2BE32F]
GO
ALTER TABLE [dbo].[tbl_relMenu]  WITH CHECK ADD  CONSTRAINT [FK__tbl_relMe__prato__00200768] FOREIGN KEY([prato_id])
REFERENCES [dbo].[tbl_pratos] ([prato_id])
GO
ALTER TABLE [dbo].[tbl_relMenu] CHECK CONSTRAINT [FK__tbl_relMe__prato__00200768]
GO
ALTER TABLE [dbo].[tbl_reservaMesas]  WITH CHECK ADD FOREIGN KEY([mesa_id])
REFERENCES [dbo].[tbl_mesas] ([mesa_id])
GO
ALTER TABLE [dbo].[tbl_reservaMesas]  WITH CHECK ADD FOREIGN KEY([reserva_id])
REFERENCES [dbo].[tbl_reservas] ([reserva_id])
GO
ALTER TABLE [dbo].[tbl_reservas]  WITH CHECK ADD FOREIGN KEY([restaurante_id])
REFERENCES [dbo].[tbl_restaurantes] ([restaurante_id])
GO
ALTER TABLE [dbo].[tbl_reservas]  WITH CHECK ADD  CONSTRAINT [FK__tbl_reser__utili__778AC167] FOREIGN KEY([utilizador_id])
REFERENCES [dbo].[tbl_utilizadores] ([utilizador_id])
GO
ALTER TABLE [dbo].[tbl_reservas] CHECK CONSTRAINT [FK__tbl_reser__utili__778AC167]
GO
ALTER TABLE [dbo].[tbl_utilizadores]  WITH CHECK ADD  CONSTRAINT [FK__tbl_utili__perm___70DDC3D8] FOREIGN KEY([perm_id])
REFERENCES [dbo].[tbl_permissoes] ([perm_id])
GO
ALTER TABLE [dbo].[tbl_utilizadores] CHECK CONSTRAINT [FK__tbl_utili__perm___70DDC3D8]
GO
/****** Object:  StoredProcedure [dbo].[encomendasRestaurante]    Script Date: 23/06/2023 09:22:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[encomendasRestaurante] @id INT
AS
BEGIN
  SELECT
	tbl_encomendas.encomenda_id,
    tbl_encomendas.encomenda_data,
    tbl_encomendas.encomenda_hora,
    tbl_encomendas.encomenda_valor,
    CONCAT(tbl_restaurantes.restaurante_morada, ' - ', tbl_restaurantes.restaurante_localidade) AS res,
    tbl_utilizadores.utilizador_nome,
    tbl_utilizadores.utilizador_numero,
    tbl_estadoEncomendas.estado_nome
  FROM
    tbl_encomendas
  JOIN
    tbl_restaurantes ON tbl_encomendas.restaurante_id = tbl_restaurantes.restaurante_id
  JOIN
    tbl_utilizadores ON tbl_encomendas.utilizador_id = tbl_utilizadores.utilizador_id
  JOIN
    tbl_estadoEncomendas ON tbl_encomendas.estado_id = tbl_estadoEncomendas.estado_id
  WHERE
    tbl_encomendas.restaurante_id = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[getinfo]    Script Date: 23/06/2023 09:22:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getinfo]
    @utilizador_id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 'Reserva' AS tipo, r.reserva_id AS id, r.reserva_data AS data, r.reserva_hora AS hora, r.reserva_pessoas AS pessoas, r.reservas_estado AS estado, NULL AS valorTotal, rest.restaurante_morada, rest.restaurante_localidade
    FROM tbl_reservas r
    JOIN tbl_restaurantes rest ON r.restaurante_id = rest.restaurante_id
    WHERE r.utilizador_id = @utilizador_id

    UNION

    SELECT 'Encomenda' AS tipo, enc.encomenda_id AS id, enc.encomenda_data AS data, enc.encomenda_hora AS hora, NULL AS pessoas, estado.estado_nome AS estado, enc.encomenda_valor AS valorTotal, rest.restaurante_morada, rest.restaurante_localidade
    FROM tbl_encomendas enc
    JOIN tbl_estadoEncomendas estado ON enc.estado_id = estado.estado_id
    JOIN tbl_restaurantes rest ON enc.restaurante_id = rest.restaurante_id
    WHERE enc.utilizador_id = @utilizador_id

    ORDER BY data DESC, hora DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetMesasDisponiveis]    Script Date: 23/06/2023 09:22:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMesasDisponiveis]
AS
BEGIN
DECLARE @currentDateTime DATETIME;
SET @currentDateTime = GETDATE();

DELETE FROM tbl_reservaMesas
WHERE reserva_id IN (
    SELECT r.reserva_id
    FROM tbl_reservas r
    WHERE DATEADD(HOUR, r.reserva_hora + 2, CAST(r.reserva_data AS DATETIME)) <= @currentDateTime
);
END;
GO
/****** Object:  StoredProcedure [dbo].[gettingTodasMesas]    Script Date: 23/06/2023 09:22:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gettingTodasMesas]
    @restaurantId INT,
    @reservaId INT
AS
BEGIN
    SELECT m.*
    FROM tbl_mesas m
    WHERE m.restaurante_id = @restaurantId
        AND m.mesa_id NOT IN (
            SELECT rm.mesa_id
            FROM tbl_reservaMesas rm
            INNER JOIN tbl_reservas r ON r.reserva_id = rm.reserva_id
            WHERE r.restaurante_id = @restaurantId
                AND r.reserva_id = @reservaId
                AND (
                    CAST(CONVERT(VARCHAR(10), r.reserva_data, 120) + ' ' + CONVERT(VARCHAR(2), r.reserva_hora) + ':00:00' AS DATETIME) >= DATEADD(HOUR, -3, CAST(CONVERT(VARCHAR(10), (SELECT reserva_data FROM tbl_reservas WHERE reserva_id = @reservaId), 120) + ' ' + CONVERT(VARCHAR(2), (SELECT reserva_hora FROM tbl_reservas WHERE reserva_id = @reservaId)) + ':00:00' AS DATETIME)))
                    OR CAST(CONVERT(VARCHAR(10), r.reserva_data, 120) + ' ' + CONVERT(VARCHAR(2), r.reserva_hora) + ':00:00' AS DATETIME) <= DATEADD(HOUR, 2, CAST(CONVERT(VARCHAR(10), (SELECT reserva_data FROM tbl_reservas WHERE reserva_id = @reservaId), 120) + ' ' + CONVERT(VARCHAR(2), (SELECT reserva_hora FROM tbl_reservas WHERE reserva_id = @reservaId)) + ':00:00' AS DATETIME))
        );
END;
GO
