<div class="container1">

    <div class="containerall">

        <div class="containeroption">
            <input pInputText [(ngModel)]="prato_nomes" placeholder="Nome" id="float-input" type="text"/>
            <p-dropdown [options]="tipos"  [(ngModel)]="tipoSelected"></p-dropdown>
        </div>
        
        <div class="containerquantity">
            <p-inputNumber [size]="42.5" [min]= "0" aria-placeholder="Preço" [(ngModel)]="valor" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="0.25"
            decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
            mode="currency" currency="EUR"></p-inputNumber>
        </div>

        <div class="fixe2">

            <div class="fixe" >
            <p-fileUpload class="p-fileUpload" chooseLabel="Escolher" uploadLabel="Confirmar" cancelLabel="Cancelar" mode="advanced" name="myfile" [customUpload]="true" (uploadHandler)="onBasicUpload($event)" ></p-fileUpload>
            </div>

        </div>
    
    </div>


</div>