<input pInputText [(ngModel)]="prato_nomes" placeholder="Nome" id="float-input" type="text"/>
<p-dropdown [options]="tipos"  [(ngModel)]="tipoSelected"></p-dropdown>
   

<p-inputNumber  aria-placeholder="Preço" [(ngModel)]="valor" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="0.25"
decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
mode="currency" currency="EUR" class="p-inputnumber p-col-12"></p-inputNumber>

<div >
<p-fileUpload mode="advanced" name="myfile" [customUpload]="true" (uploadHandler)="onBasicUpload($event)" ></p-fileUpload>
</div>
  