.container1{

    .containerall{
       
      
        
        .containeroption{
            display: flex;
            justify-content: center;
            
            #float-input{
                width: 40%;
                margin-right: 30px;
            }
        }

        .containerquantity{
            display: flex;
            justify-content: center;
            margin: 15px;

            
        }

        .fixe2{
            display: flex;
            justify-content: center;

            .fixe{
                width: 80%;
                display: flex;
                justify-content: center;

            }
        }
        
    }

    

}