<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
       <a href="" class="logo d-flex align-items-center me-auto me-lg-0">
          <h1>Menu do Chefe<span>.</span></h1>
       </a>
       <nav id="navbar" class="navbar">
          <ul>
             <li><a href="#hero">Home</a></li>
             <li><a href="#about">Sobre</a></li>
             <li><a href="#menu">Menu</a></li>
             <li><a href="#gallery">Galeria</a></li>
             <li *ngIf="admincheck()"><a href="/admin">Admin</a></li>
          </ul>
       </nav>

      <a *ngIf="!isLoggedIn()" class="btn-book-a-table" href="/login">Login</a>
      <div *ngIf="isLoggedIn()">
         <a class="fs-4 fw-semibold">[{{username}}]</a>
      <a class="btn-book-a-table" (click)="logout()" href="/login">Logout</a>   
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
       
    </div>
  </header>
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
       <div class="row justify-content-between gy-5">
          <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
             <h2 data-aos="fade-up">Enjoy Your Healthy<br>Delicious Food</h2>
             <p data-aos="fade-up" data-aos-delay="100">Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae cumque eum quaerat.</p>
             <div class="d-flex" data-aos="fade-up" data-aos-delay="200"> <a (click)="show()" class="btn-book-a-table">Reserva</a> </div>
          </div>
          <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start"> <img src="assets/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300"></div>
       </div>
    </div>
  </section>
  
  <main id="main">
    <section id="about" class="about">
       <div class="container" data-aos="fade-up">
          <div class="section-header">
             <h2>About Us</h2>
             <p>Learn More <span>About Us</span></p>
          </div>
          <div class="row gy-4">
             <div class="col-lg-7 position-relative about-img" style="background-image: url(assets/img/about.jpg) ;" data-aos="fade-up" data-aos-delay="150">
                <div class="call-us position-absolute">
                   <h4>Book a Table</h4>
                   <p>+91 **** **** **</p>
                </div>
             </div>
             <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                <div class="content ps-0 ps-lg-5">
                   <p class="fst-italic"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                   <ul>
                      <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                      <li><i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                      <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                   </ul>
                   <p> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
                </div>
             </div>
          </div>
       </div>
    </section>
    <section id="why-us" class="why-us section-bg">
       <div class="container" data-aos="fade-up">
          <div class="row gy-4">
             <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                   <h3>Why Choose Yummy?</h3>
                   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.</p>
                   <div class="text-center"> <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a></div>
                </div>
             </div>
             <div class="col-lg-8 d-flex align-items-center">
                <div class="row gy-4">
                   <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                      <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                         <i class="bi bi-person-circle"></i>
                         <h4>Corporis voluptates officia eiusmod</h4>
                         <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                      </div>
                   </div>
                   <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                      <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                         <i class="bi bi-gem"></i>
                         <h4>Ullamco laboris ladore pan</h4>
                         <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                      </div>
                   </div>
                   <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                      <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                         <i class="bi bi-inboxes"></i>
                         <h4>Labore consequatur incidid dolore</h4>
                         <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <section id="stats-counter" class="stats-counter">
       <div class="container" data-aos="zoom-out">
          <div class="row gy-4">
             <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                   <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                   <p>Clientes</p>
                </div>
             </div>
             <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                   <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                   <p>Reservas</p>
                </div>
             </div>
             <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                   <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
                   <p>Restaurantes</p>
                </div>
             </div>
             <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                   <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                   <p>Trabalhadores</p>
                </div>
             </div>
          </div>
       </div>
    </section>
    <section id="menu" class="menu">
       <div class="container" data-aos="fade-up">
          <div class="section-header">
             <h2>Our Menu</h2>
             <p>Check Our <span>Yummy Menu</span></p>
          </div>
          <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">
             <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
                   <h4>Entradas</h4>
                </a>
             <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
                   <h4>Principal</h4>
                </a>
             </li>
             <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
                   <h4>Sobremesas</h4>
                </a>
             </li>
          </ul>
          <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
             <div class="tab-pane fade show active" id="menu-breakfast">
                <div class="tab-header text-center">
                   <p>Menu</p>
                   <h3>Entradas</h3>
                </div>
                <div class="row gy-5">
                   <div class="col-lg-4 menu-item">
                      <a href="assets/img/menu/menu-item-1.png" class="glightbox"><img src="assets/img/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                      <h4>Magnam Tiste</h4>
                      <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
                      <p class="price"> $5.95</p>
                   </div>
                   <div class="col-lg-4 menu-item">
                      <a href="assets/img/menu/menu-item-2.png" class="glightbox"><img src="assets/img/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
                      <h4>Aut Luia</h4>
                      <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
                      <p class="price"> $14.95</p>
                   </div>
                   <div class="col-lg-4 menu-item">
                      <a href="assets/img/menu/menu-item-3.png" class="glightbox"><img src="assets/img/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
                      <h4>Est Eligendi</h4>
                      <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
                      <p class="price"> $8.95</p>
                   </div>
                   <div class="col-lg-4 menu-item">
                      <a href="assets/img/menu/menu-item-4.png" class="glightbox"><img src="assets/img/menu/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
                      <h4>Eos Luibusdam</h4>
                      <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
                      <p class="price"> $12.95</p>
                   </div>
                   <div class="col-lg-4 menu-item">
                      <a href="assets/img/menu/menu-item-5.png" class="glightbox"><img src="assets/img/menu/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
                      <h4>Eos Luibusdam</h4>
                      <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
                      <p class="price"> $12.95</p>
                   </div>
                   <div class="col-lg-4 menu-item">
                      <a href="assets/img/menu/menu-item-6.png" class="glightbox"><img src="assets/img/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
                      <h4>Laboriosam Direva</h4>
                      <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
                      <p class="price"> $9.95</p>
                   </div>
                </div>
             </div>
             <div class="tab-pane fade" id="menu-lunch">
                <div class="tab-header text-center">
                   <p>Menu</p>
                   <h3>Principal</h3>
                </div>
                <div class="row gy-5">
                   <div class="col-lg-4 menu-item">
                      <a href="assets/img/menu/menu-item-1.png" class="glightbox"><img src="assets/img/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                      <h4>Magnam Tiste</h4>
                      <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
                      <p class="price"> $5.95</p>
                   </div>
                   <div class="col-lg-4 menu-item">
                      <a href="assets/img/menu/menu-item-2.png" class="glightbox"><img src="assets/img/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
                      <h4>Aut Luia</h4>
                      <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
                      <p class="price"> $14.95</p>
                   </div>
                   <div class="col-lg-4 menu-item">
                      <a href="assets/img/menu/menu-item-3.png" class="glightbox"><img src="assets/img/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
                      <h4>Est Eligendi</h4>
                      <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
                      <p class="price"> $8.95</p>
                   </div>
                   <div class="col-lg-4 menu-item">
                      <a href="assets/img/menu/menu-item-4.png" class="glightbox"><img src="assets/img/menu/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
                      <h4>Eos Luibusdam</h4>
                      <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
                      <p class="price"> $12.95</p>
                   </div>
                   <div class="col-lg-4 menu-item">
                      <a href="assets/img/menu/menu-item-5.png" class="glightbox"><img src="assets/img/menu/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
                      <h4>Eos Luibusdam</h4>
                      <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
                      <p class="price"> $12.95</p>
                   </div>
                   <div class="col-lg-4 menu-item">
                      <a href="assets/img/menu/menu-item-6.png" class="glightbox"><img src="assets/img/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
                      <h4>Laboriosam Direva</h4>
                      <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
                      <p class="price"> $9.95</p>
                   </div>
                </div>
             </div>
             <div class="tab-pane fade" id="menu-dinner">
                <div class="tab-header text-center">
                   <p>Menu</p>
                   <h3>Sobremesas</h3>
                </div>
                <div class="row gy-5">
                   <div class="col-lg-4 menu-item">
                      <a href="assets/img/menu/menu-item-1.png" class="glightbox"><img src="assets/img/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                      <h4>Magnam Tiste</h4>
                      <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
                      <p class="price"> $5.95</p>
                   </div>
                   <div class="col-lg-4 menu-item">
                      <a href="assets/img/menu/menu-item-2.png" class="glightbox"><img src="assets/img/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
                      <h4>Aut Luia</h4>
                      <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
                      <p class="price"> $14.95</p>
                   </div>
                   <div class="col-lg-4 menu-item">
                      <a href="assets/img/menu/menu-item-3.png" class="glightbox"><img src="assets/img/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
                      <h4>Est Eligendi</h4>
                      <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
                      <p class="price"> $8.95</p>
                   </div>
                   <div class="col-lg-4 menu-item">
                      <a href="assets/img/menu/menu-item-4.png" class="glightbox"><img src="assets/img/menu/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
                      <h4>Eos Luibusdam</h4>
                      <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
                      <p class="price"> $12.95</p>
                   </div>
                   <div class="col-lg-4 menu-item">
                      <a href="assets/img/menu/menu-item-5.png" class="glightbox"><img src="assets/img/menu/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
                      <h4>Eos Luibusdam</h4>
                      <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
                      <p class="price"> $12.95</p>
                   </div>
                   <div class="col-lg-4 menu-item">
                      <a href="assets/img/menu/menu-item-6.png" class="glightbox"><img src="assets/img/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
                      <h4>Laboriosam Direva</h4>
                      <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
                      <p class="price"> $9.95</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    
    <section id="gallery" class="gallery section-bg">
       <div class="container" data-aos="fade-up">
          <div class="section-header">
             <h2>gallery</h2>
             <p>Check <span>Our Gallery</span></p>
          </div>
          <div class="gallery-slider swiper">
             <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-1.jpg"><img src="assets/img/gallery/gallery-1.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-2.jpg"><img src="assets/img/gallery/gallery-2.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-3.jpg"><img src="assets/img/gallery/gallery-3.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-4.jpg"><img src="assets/img/gallery/gallery-4.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-5.jpg"><img src="assets/img/gallery/gallery-5.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-6.jpg"><img src="assets/img/gallery/gallery-6.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-7.jpg"><img src="assets/img/gallery/gallery-7.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-8.jpg"><img src="assets/img/gallery/gallery-8.jpg" class="img-fluid" alt=""></a></div>
             </div>
             <div class="swiper-pagination"></div>
          </div>
       </div>
    </section>
    
  </main>
  <footer id="footer" class="footer">
    <div class="container">
       <div class="row gy-3">
          <div class="col-lg-3 col-md-6 d-flex">
             <i class="bi bi-geo-alt icon"></i>
             <div>
                <h4>Address</h4>
                <p> 1266 <br> Ludhiana Punjab  -- IND<br></p>
             </div>
          </div>
          <div class="col-lg-3 col-md-6 footer-links d-flex">
             <i class="bi bi-telephone icon"></i>
             <div>
                <h4>Reservations</h4>
                <p> <strong>Phone:</strong> +91 **** **** **<br> <strong>Email:</strong> <a href="#" class="__cf_email__">[email&#160;protected]</a><br></p>
             </div>
          </div>
          <div class="col-lg-3 col-md-6 footer-links d-flex">
             <i class="bi bi-clock icon"></i>
             <div>
                <h4>Opening Hours</h4>
                <p> <strong>Mon-Sat: 11AM</strong> - 23PM<br> Sunday: Closed</p>
             </div>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
             <h4>Follow Us</h4>
             <div class="social-links d-flex"> <a href="#" class="twitter"><i class="bi bi-twitter"></i></a> <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> <a href="#" class="instagram"><i class="bi bi-instagram"></i></a> <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a></div>
          </div>
       </div>
    </div>
    <div class="container">
       <div class="copyright"> &copy; Copyright <strong><span>Yummy</span></strong>. All Rights Reserved</div>
    </div>
  </footer>
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>