<section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">
       <div class="section-header">
          <p>FAÇA<span> O SEU </span>LOGIN</p>
       </div>
       <div class="row g-0">
          <div class="col-lg-4 reservation-img" style="background-image: url(assets/img/reservation.jpg);" data-aos="zoom-out" data-aos-delay="200"></div>
          <div class="col-lg-4 d-flex align-items-center reservation-form-bg shadow">
             <div action="/login" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
                <div class="row gy-4">
                   <div class="col-lg-15 ">
                      <input  [(ngModel)]="email" type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                      <div class="validate"></div>
                   </div>

                   <div class="col-lg-15 ">
                      <input [(ngModel)]="senha" type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                      <div class="validate"></div>
                   </div>
                </div>
                <br>
                <div class="text-center"><button (click)="login()" type="submit">Login</button></div>
                <br>
                <div class="text-center"><a href="/register">Register</a></div> 
               </div>
          </div>
       </div>
    </div>
 </section>