<header id="header" class="header fixed-top d-flex align-items-center shadow">
    <div class="container d-flex align-items-center justify-content-between">
       <a href="" class="logo d-flex align-items-center me-auto me-lg-0">
          <h1>Menu do Chefe<span>.</span></h1>
       </a>
       <nav id="navbar" class="navbar">
          <ul>
             <li><a href="#hero">Home</a></li>
             <li><a href="#about">Sobre</a></li>
             <li><a href="#menu">Menu</a></li>
             <li><a href="#gallery">Galeria</a></li>
             <li *ngIf="admincheck()"><a href="/admin">Admin</a></li>
          </ul>
       </nav>

      <a *ngIf="!isLoggedIn()" class="btn-book-a-table" href="/login">Login</a>
      <div *ngIf="isLoggedIn()">
         <a class="anime fs-4 fw-semibold" href="/profile">[{{username}}]</a>
      <a class="btn-book-a-table" (click)="logout()" href="/login">Logout</a>   
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
       
    </div>
  </header>