<p-table #dv filerBy="prato_nome" [value]="list1" [tableStyle]="{'width': '100%'}"  [globalFilterFields]="['prato_nome']">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Quantidade</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-x>
        <tr>
            <th>{{x.prato_nome}}</th>
            <th>{{x.prato_preco}}</th>
            <th>{{x.pratoTipo}}</th>
            <th>{{x.prato_quant}}</th>
        </tr>
    </ng-template>
</p-table>
