<p-table #dv filerBy="prato_nome" [value]="list1" [tableStyle]="{'width': '100%'}"  [globalFilterFields]="['prato_nome']">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Quantidade</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-x>
        <tr>
            <td (click)="deletes(x)" class="clickClass" >x</td>
            <td>{{x.prato_nome}}</td>
            <td>{{x.prato_preco}}€</td>
            <td>{{x.pratoTipo}}</td>
           <td pEditableColumn>
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <p-inputNumber (onFocus)="startChange(x)"[(ngModel)]="valor" [min]= "1" aria-placeholder="Quantidade" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1"
                decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                 class="p-inputnumber p-col-12" (onBlur)="saveChange(x)"></p-inputNumber>
                  </ng-template>
                <ng-template pTemplate="output" >
                  <td (click)="startChange(x)">{{x.prato_quant}}</td>
                </ng-template>
            </p-cellEditor>
           </td>  
        </tr>
    </ng-template>
</p-table>
<div  *ngIf="list1.length > 0" style="display: flex; justify-content: center;" >
    <button pButton pRipple type="button" label="Encomendar" class="p-button-raised" [style]="{'min-width': '90%', 'margin': '30px'}"  ></button>
</div>