<p-toast></p-toast>
<section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">
       <div class="row gy-4">
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
             <div class="why-box">
                <h3>UNICEF</h3>
                <p> Doar apenas 1€ para crianças desfavorecidas e sem comida na África pode parecer insignificante à primeira vista, mas o impacto que esse gesto pode ter é muito maior do que imaginamos. Cada euro doado pode representar uma refeição nutritiva, água potável ou acesso a cuidados básicos de saúde para essas crianças que estão enfrentando situações extremamente difíceis.</p>
                <div class="text-center" (click)="doar()"> <a class="more-btn">Doar +1€</a></div>
             </div>
          </div>
          <div class="col-lg-8 d-flex align-items-center">
            
             <div class="row gy-4">

               <div *ngFor="let x of user"  class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                     <i class="bi bi-person-circle"></i>
                     <h4>{{x.utilizador_nome}}</h4>
                     <p>{{x.mensagem}}</p>
                  </div>
               </div>
         
             </div>
          </div>
       </div>
    </div>
 </section>