
<p-table #dv  [value]="list1" [tableStyle]="{'width': '100%'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-x>
        <tr>
            <td>{{x.prato_nome}}</td>
            <td>x{{x.relEncomenda_quantidade}}</td>
        </tr>
    </ng-template>
</p-table>
<button [disabled]="valor != 1" pButton pRipple type="button" label="Aceite" class="p-button-raised" (click)="plus(true)"></button>
<button [disabled]="valor != 2" pButton pRipple type="button" label="Preparar" class="p-button-raised" (click)="plus(true)"></button>
<button [disabled]="valor != 3" pButton pRipple type="button" label="A Caminho" class="p-button-raised" (click)="plus(true)"></button>
<button [disabled]="valor != 4" pButton pRipple type="button" label="Entregue" class="p-button-raised" (click)="plus(true)"></button>
<button [disabled]="valor == 8" pButton pRipple type="button" label="Cancelar" class="p-button-raised" (click)="plus(false)"></button>
