<p-toast></p-toast>
<div class="card">
    <p-table [value]="Users" [tableStyle]="{ 'min-width': '20rem' }"  [scrollable]="true" scrollHeight="50rem" [virtualScroll]="true" [virtualScrollItemSize]="46" #dv filerBy="perm_nome"[globalFilterFields]="['perm_nome']">
      <ng-template pTemplate="caption" >
        <input style="margin-left: 10px;" pInputText type="text" (input)="dv.filterGlobal($any($event.target).value, 'contains')" placeholder="Permissão" />
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Permissão</th>
          <th>Email</th>
          <th>Morada</th>
          <th>Nome</th>
          <th>Telemovel</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.utilizador_id }}</td>

          <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
                <p-dropdown [options]="perms" [(ngModel)]="selectedPerm" [style]="{'width':'65%'}"></p-dropdown>
                <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-text"  (click)="onRowEditSave(user)"></button>
            </ng-template>
            <ng-template pTemplate="output">
                {{user.perm_nome}}
            </ng-template>
          </p-cellEditor>
          </td>
          <td>{{ user.utilizador_email }}</td>
          <td>{{ user.utilizador_morada }}</td>
          <td>{{ user.utilizador_nome }}</td>
          <td>{{ user.utilizador_numero }} </td>
          <td><button (click)="show(user.utilizador_id)" pButton pRipple type="button" label="Apagar" class="p-button-danger p-button-text"></button></td>
        </tr>
      </ng-template>
    </p-table>
</div>

