
<div class="card">
    <p-table [value]="Users" [tableStyle]="{ 'min-width': '20rem' }"  [scrollable]="true" scrollHeight="50rem" [virtualScroll]="true" [virtualScrollItemSize]="46">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Permissão</th>
          <th>Email</th>
          <th>Morada</th>
          <th>Nome</th>
          <th>Telemovel</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.utilizador_id }}</td>

          <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
                <p-dropdown [options]="perms" [(ngModel)]="selectedPerm" [style]="{'width':'65%'}"></p-dropdown>
                <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-text"  (click)="onRowEditSave(user)"></button>
            </ng-template>
            <ng-template pTemplate="output">
                {{user.perm_id }}
            </ng-template>
          </p-cellEditor>
          </td>
          <td>{{ user.utilizador_email }}</td>
          <td>{{ user.utilizador_morada }}</td>
          <td>{{ user.utilizador_nome }}</td>
          <td>{{ user.utilizador_numero }} </td>
        </tr>
      </ng-template>
    </p-table>
</div>

