<p-toast></p-toast>
<div class="container" style="width: 100%;">
    <div class="row">
        <div class="col-6" style="margin-top: 20px;width: 50%;">

            <p-table [value]="list1" [tableStyle]="{'width': '100%'}"  [(selection)]="selecteds">
                <ng-template pTemplate="caption">
                    <h2>Pratos</h2>
                    <button pButton pRipple (click)="show()" type="button" label="Adicionar" icon="pi pi-plus" iconPos="right" class="p-button-success" style="margin-right: 20px;"></button>
                    <button pButton  [disabled]="(selecteds ?? []).length == 0" (click)="delete()" type="button" label="Apagar" icon="pi pi-minus" iconPos="right"class="p-button-danger"></button>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Nome</th>
                        <th>Imagem</th>
                        <th>Preço</th>
                        <th>Categoria</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-x>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="x"></p-tableCheckbox>
                        </td>
                        <th>{{x.prato_nome}}</th>
                        <td><img [src]="x.prato_imagem" [alt]="" width="100" class="shadow" /></td>

                        <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber (onFocus)="startChange(x)"  aria-placeholder="Preço" [(ngModel)]="valor" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="0.25"
                            decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                            mode="currency" currency="EUR" class="p-inputnumber p-col-12" (onBlur)="saveChange(x)"></p-inputNumber>
                              </ng-template>
                            <ng-template pTemplate="output" >
                              <th (click)="startChange(x)">{{x.prato_preco}}€</th>
                            </ng-template>
                        </p-cellEditor>
                    </td>

                        <th>{{x.pratoTipo}}</th>
                    </tr>
                </ng-template>
            </p-table>

            
        </div>


        <div class="col-6" style="margin-top: 20px; width: 50%;">
            <p-table [value]="list2" [tableStyle]="{'width': '100%'}"  [(selection)]="selecteds2">
                <ng-template pTemplate="caption">
                    <h2>Menus</h2>
                    <button pButton pRipple (click)="show()" type="button" label="Adicionar" icon="pi pi-plus" iconPos="right" class="p-button-success" style="margin-right: 20px;"></button>
                    <button pButton  [disabled]="(selecteds2 ?? []).length == 0" (click)="delete()" type="button" label="Apagar" icon="pi pi-minus" iconPos="right"class="p-button-danger"></button>
                    
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Nome</th>
                        <th>Preço</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-x>
                    <tr>
                    <td>
                        <p-tableCheckbox [value]="x"></p-tableCheckbox>
                    </td>
                    <td class="clickClass hover-animation" (click)="show2(x.menu_id)" >{{x.menu_nome}}</td>
                    <td>{{x.menu_preco}} €</td>
                    </tr>
                </ng-template>
            </p-table>  


    </div>
</div>
</div>