.clickClass{
    cursor: pointer;
    transition: 1s;
}

.hover-animation {
    transition: background-color 1s ease;

  }

  .hover-animation:hover {
    background-color: #f1f1f1; 
  }
  
  .hover-animation:not(:hover) {
    transition: background-color 1.5s ease;
    background-color: initial; 
  }